.GalleryHamster .hamster-information {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.GalleryHamster .img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  z-index: 1;
  box-shadow: 0px 5px 5px rgb(17, 14, 14);
}

.GalleryHamster .info-container {
  background: rgb(194, 117, 0);
  background: linear-gradient(
    254deg,
    rgba(194, 117, 0, 1) 0%,
    rgba(252, 252, 144, 1) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid white 3px;
  border-radius: 25px;
  max-width: 300px;
  z-index: 10;
  /* clip-path: polygon(
    0 30%,
    65% 21%,
    22% 5%,
    100% 6%,
    100% 30%,
    100% 100%,
    0 100%
  ); */
  font-size: 1rem;
}

.GalleryHamster p,
.GalleryHamster header {
  margin: 15px;
}

.Home .GalleryHamster img {
  border: solid rgb(255, 179, 0) 2px;
}

.Home .GalleryHamster .item h3 {
  text-transform: uppercase;
  font-size: 2em;
  background: -webkit-linear-gradient(rgb(194, 42, 0) 0%, rgb(5, 5, 5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.GalleryHamster .delete-hamster-field {
  margin: 10px;
  border-radius: 5px;
  color: white;
}
