.GalleryForm {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 270px; */
  max-width: 80%;
  margin-top: 10%;
  z-index: 9;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px;
  background: rgb(130, 178, 104);
  background: linear-gradient(
    254deg,
    rgba(130, 178, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.GalleryForm .header {
  text-align: center;
}

.GalleryForm .input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 680px;
}

.GalleryForm .input-fields label {
  max-width: 250px;
  margin: 8px;
}

.GalleryForm .form-container {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
}

.cross {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  cursor: pointer;
}

.GalleryForm input {
  min-width: 200px;
  box-shadow: 0 0 5px 5px;
  border-radius: 10px;
  font-family: monospace;
  border: 3px solid lightblue;
  padding: 10px;
}

.GalleryForm label {
  display: flex;
  flex-direction: column;
}

.GalleryForm button {
  margin: 25px;
}

.GalleryForm .form-help-text {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 600;
  color: #bf2e2e;
  height: 14px;
}

.GalleryForm .enabled-button {
  color: #fff;
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
  border-color: #4a993e;
  cursor: pointer;
}

.showFormButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  z-index: 9;
  box-shadow: 0 0 5px 5px;
  border-color: #4a993e;
  border-radius: 20px;
  background: rgb(130, 178, 104);
  background: linear-gradient(
    254deg,
    rgba(130, 178, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  cursor: pointer;
}

.GalleryForm .submitted-form {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
@media screen and (max-width: 800px) {
  .GalleryForm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    margin-top: 10%;
    z-index: 9;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px;
    background: rgb(130, 178, 104);
    background: linear-gradient(
      254deg,
      rgba(130, 178, 104, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
