.History {
  padding: 10%;
}

.History h1 {
  text-align: center;
  text-transform: uppercase;
  background-clip: border-box;
  background-color: rgb(3, 3, 4);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgb(213, 213, 213);
  -webkit-text-fill-color: transparent;
}
